@define-color background #272130;
@define-color foreground #D2E6E0;
@define-color cursor #848AC5;

@define-color color0 #4E4758;
@define-color color1 #1C0E4B;
@define-color color2 #292380;
@define-color color3 #254098;
@define-color color4 #295E96;
@define-color color5 #3B778C;
@define-color color6 #5E8A7C;
@define-color color7 #B6D3CA;
@define-color color8 #7F948D;
@define-color color9 #261264;
@define-color color10 #362EAA;
@define-color color11 #3255CA;
@define-color color12 #377DC8;
@define-color color13 #4E9FBB;
@define-color color14 #7DB8A5;
@define-color color15 #B6D3CA;
